
# Compilations Python
**/__pycache__
**/*.pyc

# Environnements & secrets
.env


# Fichiers système
.DS_Store

# Environnements virtuels
venv/
.venv/
venv/

# Static files générés
/staticfiles/
/htmlcov/
.coverage