{% extends "base.html" %}

{% block content %}
<div class="container mt-4">

    <h2>Ajouter un document</h2>

    <p>
        Dossier :
        <strong>
            {{ dossier.vehicule.marque }} {{ dossier.vehicule.modele }}
        </strong>
    </p>

    <div class="card shadow-sm mt-3">
        <div class="card-body">

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <!-- Type document -->
                <div class="mb-3">
                    <label class="form-label">Type de document</label>
                    {{ form.document_type }}
                </div>

                <!-- Fichier -->
                <div class="mb-3">
                    <label class="form-label">Fichier</label>
                    {{ form.file }}
                </div>

                <!-- Label -->
                <div class="mb-3">
                    <label class="form-label">Nom du fichier</label>
                    {{ form.label }}
                </div>

                <button type="submit" class="btn btn-success">
                    Uploader
                </button>

                <a href="{% url 'mes_dossiers' %}" class="btn btn-secondary">
                    Retour
                </a>

            </form>

        </div>
    </div>

</div>
{% endblock %}