<!DOCTYPE html>
<html lang="fr">
  {% include 'part/head.html' %}
  <body>
    {% include 'part/navbar.html' %}
    <div class="container mt-5">
    <h2 class="mb-4">Mes tickets achetés</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Heure</th>
                <th>Discipline</th>
                <th>Compétition</th>
                <th>Genre</th>
                <th>Quantité</th>
                <th>Prix total (€)</th>
                <th>Date d’achat</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
        <tr>
            <td>{{ ticket.epreuve.date }}</td>
            <td>{{ ticket.epreuve.heure }}</td>
            <td>{{ ticket.epreuve.discipline }}</td>
            <td>{{ ticket.epreuve.competition }}</td>
            <td>{{ ticket.epreuve.genre }}</td>
            <td>{{ ticket.quantite }}</td>
            <td>{{ ticket.total }}</td>
            <td>{{ ticket.date_achat|date:"d/m/Y H:i" }}</td>
            <td>
            <a href="" class="btn btn-primary btn-sm">Télécharger</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="9" class="text-center">Aucun ticket acheté</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

        <a href="{% url 'liste_epreuves' %}" class="btn btn-secondary mt-3">Retour aux épreuves</a>
      </div>
  </body>
</html>